* {
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
body {
      background-color:cornflowerblue;
}
nav{
    display:flex;
    background-color:black;
    color:white;
    justify-content:space-between;
    align-items:center;
    padding: 0% 20px;
}
nav ul{
    display:flex;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    margin: 0 10px;
    padding:10px 20px;
}
nav ul li a{
    text-decoration:none;
    color:white;
}
nav ul li a:hover{
    color:yellow;
}
button{
    padding:5px 10px;
    border-radius:10px;
    border:none;
    outline:none;
}

.hero{
    background-color:#e60e0e;
    padding: 70px 60px;
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h3{
    font-size: 48px;
    color: #fff;
}
.hero p{
    font-size:24px;
    color:#fff;
    margin-bottom:30px;
}
.main-content{
    background-color: #f9f9f9;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2); 
}
.books{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:40px;
    margin-top:40px;
}
.book{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.book img{
    max-width:100%;
    margin-bottom: 10px;
}
.book h2{
    font-size: 24px;
    margin-top: 0px;
}
.book p{
    margin-top:5px;
    color:#666;
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s else;
}
footer{
    background-color:#262626;
    color:#fff;
    padding: 20px;
    text-align: center;
}